## <strong> Actividad 2.- Ejercicios Introducción Python </strong>
<strong> Nombre: Jose Emanuel Martinez Rodriguez </strong>

<strong> Matricula: 1851368   </strong>  
  <strong>  Hora Clase: N4-N6 </strong>

## <strong> Ejercicio 1 </strong>
El siguente programa servira para tener una base de datos para corrovorar tu identidad, para ello se pedira los siguentes datos:
 - Nombre
 - Edad
 - Frase Favorita
 - Autor de la Frase

Al final se corrovara los datos dados.

In [2]:
a= input("Introduce tu Nombre: ")
b= input("Introduce tu Edad: ")
c= input("Introduce tu Frase Favorita: ")
d= input("Introduce el Autor de la Frase: ")
e="Eres "
f=" con edad de " 
g=" años, tu frase favorita es "
h=" y el autor de la frase es "
j="."
l= e+a+f+b+g+c+h+d+j
print(l)

Introduce tu Nombre: Jose
Introduce tu Edad: 20
Introduce tu Frase Favorita: "Que tiene de bueno sentir pena por ti mismo"
Introduce el Autor de la Frase: Desconocido
Eres Jose con edad de 20 años, tu frase favorita es "Que tiene de bueno sentir pena por ti mismo" y el autor de la frase es Desconocido.

## <strong> Ejercicio 2 </strong>
Se platea realizar las 4 operaciones basicas a 2 pares de numeros, el primer par debe ser de numeros enteros, mientras el segundo par debe ser de numeros flotantes y al final se daran los resultados de las operaciones hechas.

In [3]:
a= input("Introduce el primer numero entero: ") 
b= input("Introduce el segundo numero entero: ")
c= input("Introduce el primer numero flotante (con punto decimal): ") 
d= input("Introduce el segundo numero flotante (con punto decimal): ")
a=int (a)
b=int (b)
c=float (c)
d=float (d)
se=a+b
re=a-b
me=a*b
de=a/b
sf=c+d
rf=c-d
mf=c*d
df=c/d
rse="El resultado de la suma de enteros es: "
rre="El resultado de la resta de enteros es: "
rme="El resultado de la multiplicacion de enteros es: "
rde="El resultado de la division de enteros es: "
rsf="El resultado de la suma de numeros flotantes es: "
rrf="El resultado de la resta de numeros flotantes es: "
rmf="El resultado de la multiplicacion de numeros flotantes es: "
rdf="El resultado de la division de numeros flotantes es: "
se=str (se)
re=str (re)
me=str (me)
de=str (de)
sf=str (sf)
rf=str (rf)
mf=str (mf)
df=str (df)
f=rse+se
g=rre+re
h=rme+me
i=rde+de
j=rsf+sf
k=rrf+rf
l=rmf+mf
m=rdf+df

print(f)
print(g)
print(h)
print(i)
print(j)
print(k)
print(l)
print(m)

Introduce el primer numero entero: 23
Introduce el segundo numero entero: 45
Introduce el primer numero flotante (con punto decimal): 12.6
Introduce el segundo numero flotante (con punto decimal): 35.2
El resultado de la suma de enteros es: 68
El resultado de la resta de enteros es: -22
El resultado de la multiplicacion de enteros es: 1035
El resultado de la division de enteros es: 0.5111111111111111
El resultado de la suma de numeros flotantes es: 47.800000000000004
El resultado de la resta de numeros flotantes es: -22.6
El resultado de la multiplicacion de numeros flotantes es: 443.52000000000004
El resultado de la division de numeros flotantes es: 0.3579545454545454

## <strong> Ejercicio 3 </strong>
Se le pedira a usuario introducir un par de numeros para las cuales se evaluara un par de expresiones logicas de cada tipo para cada uno, estas expresiones seran:
  - AND
  - OR 
  - NOT

Las expresiones para AND seran:
  - x > 7 AND x > 15
  - y < 45 AND y > 24

Las expresiones para OR seran:
  - x > 14 OR x > 3
  - y < 32 OR y > 23

Las expresiones para NOT seran:
  - x > 23 
  - y < 9

In [5]:
x= input("Introduce el primer numero: ") 
y= input("Introduce el segundo numero: ")
x= float (x)
y= float (y)
if (x>=7 and x>=15):
  print("La primera expresion de AND es Verdadera")
else:
  print("La primera expresion de AND es Falsa")

if (y>=45 and y>=24):
  print("La segunda expresion de AND es Verdadera")
else:
  print("La segunda expresion de AND es Falsa")

if (x>=14 or x>=3):
  print("La primera expresion de OR es Verdadera")
else:
  print("La primera expresion de OR es Falsa")

if (y<=32 or y>=23):
  print("La segunda expresion de OR es Verdadera")
else:
  print("La Segunda expresion de OR es Falsa")

if (not x>=23):
  print("La primera expresion de NOT nos da un Verdadero")
else:
  print("La primera expresion de NOT nos da un Falso")

if (not y<=9):
  print("La segunda expresion de NOT nos da un Verdadero")
else:
  print("La segunda expresion de NOT nos da un Falso")

Introduce el primer numero: 23
Introduce el segundo numero: 65
La primera expresion de AND es Verdadera
La segunda expresion de AND es Verdadera
La primera expresion de OR es Verdadera
La segunda expresion de OR es Verdadera
La primera expresion de NOT nos da un Falso
La segunda expresion de NOT nos da un Verdadero